  <link rel="stylesheet" href="../splide.min.css">
  <script src="../splide.min.js"></script>
  <section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
      {% for block in section.blocks %}
        <li class="splide__slide">{{ block.settings.image | img_url: '100x100' | img_tag }}</li>
      {% endfor %}
		</ul>
  </div>
</section>
{% schema %}
  {
    "name": "Slideshow de Axel",
    "tag" : "section",
    "class" : "slideshow",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ], 
    "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' );
    splide.mount();
  } );
{% endjavascript %}