<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
    <ul class="splide__list">
      {% for block in section.blocks %}
        <li class="splide__slide">
          {{ block.settings.image | img_url: 'master' | img_tag:'Imagen','img'}}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    var splide = new Splide('.splide');
    splide.mount();
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Slideshow de Axel",
    "tag": "section",
    "class": "slideshow",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .img {
    width: 100%;
  }
{% endstylesheet %}